@media (min-width: 768px) {
   .header__title {
      width: 50%;
   }

   .card__vive {
      width: 75%;
   }

   .carousel-control-prev-icon,
   .carousel-control-next-icon {
      width: 3rem !important;
      height: 3rem !important;
   }

   .section__vive__btn--position {
      width: 75%;
   }

   .content-card h3 {
      font-size: 1.5rem !important;
   }

   .section__cont {
      display: flex;
      align-items: center;
      flex-direction: column;
   }

   .section__cont__cards {
      width: 80%;
   }

   .section__cont__btn--position {
      width: 80%;
   }

   .section__cards__psi {
      width: 80%;
   }

   .section__psi__btn--position {
      width: 80%;
   }

   .cards__psi {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
   }
}

@media (max-width: 768px) {
   .header__title {
      font-size: 1rem;
   }

   .header__text {
      font-size: 0.75rem;
   }

   .header--overlay {
      padding-bottom: 1.5rem;
   }

   .card__vive {
      width: 100%;
   }

   .carousel-control-prev-icon,
   .carousel-control-next-icon {
      width: 2rem !important;
      height: 2rem !important;
   }

   .carousel-control-next {
      justify-content: flex-end !important;
   }

   .carousel-control-prev {
      justify-content: flex-start !important;
   }

   .section__cont__btn--position,
   .section__psi__btn--position,
   .section__vive__btn--position {
      width: 100%;
   }

   .section__vive__btn,
   .section__cont__btn,
   .section__psi__btn {
      justify-content: end !important;
   }

   .section__cards__psi {
      width: 100%;
   }
}

.header {
   height: 20rem;
   color: #fff !important;
   display: flex;
   justify-content: center;
}

.header__img {
   object-fit: cover;
   filter: brightness(45%);
   height: 100%;
   width: 100%;
}

.header--overlay {
   position: absolute;
   top: 64px;
   left: 0;
   width: 100%;
   height: 20rem;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   padding: 3rem;
}

.header__title {
   color: #fff !important;
   font-weight: 900;
   text-align: center;
}

.header__text {
   color: #fff !important;
   text-align: center;
}

.section__title {
   font-weight: bold;
   font-size: 2rem;
   width: 100%;
   text-align: center;
   padding-bottom: 1rem;
   margin-bottom: 20px;
}

/* Vivencias */
.card__vive {
   position: relative;
   padding: 1rem 1rem;
   margin: 0 auto;
   margin-bottom: 20px;
   border: 1px solid #9c9c9c;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s;
}

.card__vive:hover {
   transform: translateY(-5px);
}

.card__title {
   display: flex;
   flex-direction: row;
   padding-bottom: 1rem;
}

.card__title--info {
   display: flex;
   flex-direction: column;
   padding: 0.5rem 1rem;
   justify-content: space-around;
}

.card__image__icon {
   height: 4rem;
   width: 4rem;
   border-radius: 50%;
   background-color: #b3b3b3;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card__name {
   font-weight: bold;
   font-size: 1rem;
}

.card__info__lista__vive {
   list-style: none;
   padding: 0rem 0.5rem;
}

.card__info__item__vive {
   padding: 0rem 0.5rem;
}

.card__info__item__vive i {
   padding-right: 0.5rem;
}

.card__quote {
   position: absolute;
   right: 18px;
   top: -18px;
   color: #061f4e !important;
   font-size: 2.5rem;
}

.card__type {
   background-color: #c1d3f4;
   color: #1e1e1e !important;
   border-radius: 2px;
   display: flex;
   justify-content: center;
   padding: 0.15rem 0.25rem;
   font-size: x-small;
   width: fit-content;
}

.swiper-container {
   width: 100%;
   height: 100%;
}

.swiper-slide {
   display: flex;
   justify-content: center;
   align-items: center;
}

.section__vive {
   height: 100%;
}

.carousel-item {
   margin-top: 1rem;
}

.carousel {
   position: relative;
   width: 100%;
   overflow: hidden;
   margin-top: 20px;
}

.carousel-control-prev,
.carousel-control-next {
   width: auto;
   margin-top: -30px;
   z-index: 1;
}

.carousel-control-prev-icon {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231e1e1e'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%231e1e1e'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
   transform: rotateY(180deg);
}

.section__vive__btn {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.section__vive__btn--position {
   display: flex;
   justify-content: end;
}

/* Conteudos */
.section__cont {
   padding-top: 1rem;
   padding-bottom: 1rem;
   background-color: #f8f8f8;
}

.section__cont__cards {
   display: flex;
   justify-content: center;
   align-items: center;
}

#contentDisplay {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
   width: 100%;
}

.content-card {
   position: relative;
   border: 1px solid #9c9c9c;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   padding: 20px;
   padding-top: 40px;
   width: 100%;
   transition: transform 0.2s;
}

.content-card h3 {
   font-size: 1rem;
   margin-bottom: 10px;
   color: #333;
   font-weight: 600;
}

.content-card p {
   margin-bottom: 10px;
   font-size: 1em;
   color: #666;
}

.content-card:hover {
   transform: translateY(-5px);
}

.favorite-icon {
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
   font-size: 1.5em;
   color: #000000a4 !important;
   transition: color 0.3s;
}

.favorite-icon.favorited {
   color: #85a6e5 !important;
}

#favoritesDisplay {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.section__cont__tags {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 1em;
   padding: 0rem 0rem 2rem 0rem;
}

.section__cont__tags__btn {
   color: #fff !important;
   border-radius: 2px;
   display: flex;
   justify-content: center;
   padding: 0.25rem 1rem;
   width: fit-content;
}

.section__cont__tags--medi {
   background-color: #061f4e;
}

.section__cont__tags--musi {
   background-color: #22478e;
}

.section__cont__btn {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem 0rem;
}

.section__cont__btn--position {
   display: flex;
   justify-content: end;
}

/* Psicologos */

.card__psic {
   width: 100%;
   padding: 1rem 1rem;
   margin-bottom: 1rem;
   position: relative;
   border: 1px solid #9c9c9c;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s;
}

.card__psic:hover {
   transform: translateY(-5px);
}

.card__title {
   display: flex;
   flex-direction: row;
   padding-bottom: 1rem;
}

.card__title--info {
   display: flex;
   flex-direction: column;
   padding: 0.5rem 1rem;
   justify-content: space-around;
}

.card__image__icon {
   height: 4rem;
   width: 4rem;
   border-radius: 50%;
   background-color: #b3b3b3;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card__type {
   background-color: #22478e;
   color: #fff !important;
   border-radius: 2px;
   display: flex;
   justify-content: center;
   padding: 0.25rem 0.25rem;
   font-size: x-small;
   width: fit-content;
   font-weight: bold;
}

.hibrido {
   background-color: #061f4e !important;
}

.remoto {
   background-color: #85a6e5 !important;
}

.presencial {
   background-color: #22478e !important;
}

.card__info__lista__psi {
   list-style: none;
   padding: 0rem 0.5rem;
}

.card__info__item__psi {
   padding: 0rem 0.5rem;
}

.card__info__item__psi i {
   padding-right: 0.5rem;
}

.card__info__item__psi p {
   font-weight: 400;
   font-size: 1rem;
}

.section__psi__btn {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem 0rem;
}

.section__psi__btn--position {
   display: flex;
   justify-content: end;
}

.section__psi {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.section__psi__cards {
   display: flex;
   justify-content: center;
   align-items: center;
}
