@media (min-width: 730px) {
   .align__profile {
      display: flex;
      flex-direction: row;
   }

   .section__profile--left {
      display: block;
      padding: 0rem;
   }

   .section--right {
      width: 80%;
      padding: 2rem;
   }

   .section--right .btn_outline {
      display: none;
   }

   .container__image--desktop {
      display: none !important;
   }

   .list__btn {
      padding: 0rem 0rem 1rem 0rem !important;
   }

   .list__btn--action {
      flex-direction: column !important;
   }

   .section--right .list__btn--action {
      display: none !important;
   }

   .btn_outline--action {
      margin-bottom: 0.5rem !important;
   }
}

@media (max-width: 730px) {
   .section__profile--left {
      display: none;
   }
}

.section__profile--left {
   width: 20%;
}

.list__btn {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   list-style: none;
   margin: 0;
   padding: 0;
   width: auto;
   padding: 1rem 0rem;
}

.list__btn--action {
   padding: 0.5rem;
}

.item__btn {
   width: 100%;
}

.item__btn--style {
   width: 98%;
   padding: 0.25rem 0.5rem;
   border-radius: 0.25rem;
   font-weight: 600;
   background-color: #e2e2e2;
   color: #b3b3b3 !important;
}

.item__btn--select {
   background-color: transparent;
   border: #b3b3b3 solid 1px;
   color: #1e1e1e !important;
}

.form {
   display: flex;
   flex-direction: column;
   height: auto;
   padding: 1rem 0rem;
   border-radius: 0.5rem;
}

.form__title {
   font-weight: bold;
   padding-bottom: 1rem;
   text-align: center;
}

.form__label {
   font-weight: bold;
}

.form__input {
   margin-bottom: 1rem;
   background-color: rgba(0, 0, 0, 0.02);
   border: #1e1e1e59 solid 1px;
   border-radius: 0.25rem;
   padding: 0.25rem 0.25rem;
}

.form select {
   margin: 0;
}

.container__image {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1rem 0rem;
}

.container__image__icon {
   height: 9rem;
   width: 9rem;
   border-radius: 50%;
   background-color: #b3b3b3;
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn__cadpsi {
   width: 100%;
   display: flex;
   align-items: center;
   background-color: #2a63cf !important;
   padding: 0.5rem 1.5rem;
}

.btn__cadpsi i {
   color: #fff !important;
   padding-right: 0.5rem;
}

.btn_outline--action {
   width: 98%;
   padding: 0.25rem 0.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.btn_outline--action i {
   padding-right: 0.5rem;
}

.content-card {
   position: relative;
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   padding: 20px;
   padding-top: 40px;
   width: 100%;
   transition: transform 0.2s;
   margin-bottom: 1rem;
}

.content-card h3 {
   font-size: 1.5em;
   margin-bottom: 10px;
   color: #333;
}

.content-card p {
   margin-bottom: 10px;
   font-size: 1em;
   color: #666;
}

.content-card:hover {
   transform: translateY(-5px);
}

.favorite-icon {
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
   font-size: 1.5em;
   color: #000000a4 !important;
   transition: color 0.3s;
}

.favorite-icon.favorited {
   color: #85a6e5 !important;
}

.card__vive {
   width: 100%;
   padding: 1rem 1rem;
   margin-bottom: 1rem;
   position: relative;
   border: 1px solid #9c9c9c;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s;
}

.card__vive:hover {
   transform: translateY(-5px);
}

.card__title {
   display: flex;
   flex-direction: row;
   padding-bottom: 1rem;
}

.card__title--info {
   display: flex;
   flex-direction: column;
   padding: 0.5rem 1rem;
   justify-content: space-around;
}

.card__image__icon {
   height: 4rem;
   width: 4rem;
   border-radius: 50%;
   background-color: #b3b3b3;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card__name {
   font-weight: bold;
   font-size: 1rem;
}

.card__info__lista {
   list-style: none;
   padding: 0rem 0.5rem;
}

.card__info__item {
   padding: 0rem 0.5rem;
}

.card__info__item i {
   padding-right: 0.5rem;
}

.card__quote {
   position: absolute;
   right: 18px;
   top: -18px;
   color: #061f4e !important;
   font-size: 2.5rem;
}

.card__type {
   background-color: #c1d3f4;
   color: #1e1e1e !important;
   border-radius: 2px;
   display: flex;
   justify-content: center;
   padding: 0.15rem 0.25rem;
   font-size: x-small;
   width: fit-content;
}

.card__footer {
   padding: 0rem 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   gap: 1rem;
}

.card__footer .btn_outline {
   display: block;
   width: 100%;
   padding: 0.25rem 0.5rem;
}

.card__footer .btn_outline i {
   padding-right: 1rem;
}
