* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f9;
   color: #333;
}

@media (max-width: 768px) {
   .search-bar {
      width: 100%;
   }

   .search-input {
      width: 100%;
   }

   .filters select {
      width: 100%;
      padding: 0.5rem 0.5rem;
   }

   .filters button {
      width: 100%;
   }

   .filters button {
      margin-bottom: 0;
   }

   .modal-content {
      width: 90%;
   }

   .header {
      height: 20rem;
   }

   .header--overlay {
      height: 20rem;
      padding-bottom: 1.5rem;
      width: 100%;
   }

   .filters {
      flex-wrap: wrap;
   }

   .content-card {
      margin-bottom: 1rem;
   }
}

@media (min-width: 768px) {
   .header {
      height: 16rem;
   }

   .header--overlay {
      height: 16rem;
      width: 70%;
   }

   .header__title {
      width: 80%;
      text-align: center;
   }

   .header__group {
      width: 80% !important;
   }

   .search-bar {
      width: 100%;
   }

   .search-input {
      width: 70%;
   }

   .filters select {
      width: 100%;
      padding: 0rem 0.5rem;
   }

   #contentDisplay {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
   }
}

.header {
   color: #fff !important;
   display: flex;
   justify-content: center;
}

.header__img {
   object-fit: cover;
   filter: brightness(45%);
   height: 100%;
   width: 100%;
}

.header--overlay {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 3rem;
}

.header__title {
   color: #fff !important;
   font-weight: 900;
}

.header__input {
   background-color: rgba(255, 255, 255, 0.233) !important;
   color: #fff !important;
}

.header__input::placeholder {
   color: #fff !important;
   font-size: small;
}

.favorites-button {
   background-color: #22478e;
   color: #fff !important;
   padding: 8px 16px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 0.8rem;
   display: flex;
   align-items: center;
   gap: 8px;
}

.favorites-button i {
   font-size: 1em;
   color: #fff !important;
}

.favorites-button:hover {
   background-color: #061f4e;
}

.search-bar {
   display: flex;
   justify-content: center;
}

.search-input {
   background-color: rgba(255, 255, 255, 0.233) !important;
   color: #fff !important;
}

.search-input::placeholder {
   color: #fff !important;
   font-size: small;
}

.filters {
   padding: 1rem 0rem;
   display: flex;
   justify-content: center;
   width: 100%;
   gap: 10px;
}

.filters select {
   background-color: rgba(255, 255, 255, 0.233) !important;
   color: #fff !important;
   border-radius: 0.25rem;
   border: 1px solid #fff;
   font-size: small;
   cursor: pointer;
}

.filters button {
   background-color: #22478e;
   color: #fff;
   padding: 0.25rem 1rem;
   border-radius: 0.25rem;
}

.filters button i {
   color: #fff !important;
}

.filters button:hover {
   background-color: #132d5f;
}

.content-card {
   position: relative;
   background-color: #fff;
   border: 1px solid #9c9c9c;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   padding: 20px;
   padding-top: 40px;
   width: 100%;
   transition: transform 0.2s;
}

.content-card h3 {
   font-size: 1.5em;
   margin-bottom: 10px;
   color: #333;
}

.content-card p {
   margin-bottom: 10px;
   font-size: 1em;
   color: #666;
}

.content-card:hover {
   transform: translateY(-5px);
}

.favorite-icon {
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
   font-size: 1.5em;
   color: #000000a4 !important;
   transition: color 0.3s;
}

.favorite-icon.favorited {
   color: #85a6e5 !important;
}

#favoritesDisplay {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}
